*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



.head{
  margin: 0;
  padding: 25px;
  padding-top: 0;
  background: #ff00ff;
  font-size: 20px;
  
}

.img-container{
 padding: 10px;
 overflow: hidden;
  
}


.content{
  padding-left:15px;
  padding-right: 15px;
}

span{
  color: #ff00ff;
  
}

.line2{
  padding:40px;
  color: #ff00ff;
}

.li3{
  color: #000000;
}

.line4{
  padding: 40px;
  color: #ff00ff;
}

.content3{
  color: #ff00ff;
}
.li5{
  color: #000000;
}

.img-container2{
  padding: 10px;
  overflow: hidden;
}

.content5{
  padding: 40px;
  color: #ff00ff;
  font-size: 30px
}

.text{
  padding: 10px;
  font-size: 20px;
}